<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="title">
                Capstone - Plan your travel
            </div>
        </header>

        <main>
            <section class="input">
                <div class="form">
                    <form id="addTrip" class="input-form">
                        <label for="tripLocation">Destination: </label><br>
                        <input type="text" id="tripLocation" placeholder="City/Country"><br>
                        <label for="startDate">Start Date: </label><br>
                        <input type="date" id="startDate"><br>
                        <label for="endDate">End Date: </label><br>
                        <input type="date" id="endDate"><br>
                        <button type="submit">Show Trip Info</button>                        
                        <div id="formError">
    
                        </div>
                    </form>   
                </div>
                <div id="tripInfo">
                    <div id="tripImage"></div>
                    <div id="tripWeather"></div>
                </div>
            </section>
            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    
                </div>    
            </section>
        </main>

        <footer>
            <p>by CrptoNari 2021 - Udacity FEND Project</p>
        </footer>

        <!-- Service worker -->

        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script> -->
    </body>
</html>
