<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Travel Planner</title>
    </head>

    <body>
        <header>
            <div class="title">
                Travel Planner
            </div>
        </header>
        <main>
            
            <section class="user-form">
                <form class="trip-form">
                    <div class="input-location">
                        <label for="tripLocation">Destination</label>
                        <input type="text" id="tripLocation" placeholder="City/Country" required>
                    </div>
                    <div class="input-dates">
                        <div class="travel-start">
                            <label for="startDate">Start Date</label>
                            <input type="date" id="startDate" required>
                        </div>
                        <div class="travel-end">
                            <label for="endDate">End Date</label>
                            <input type="date" id="endDate" required>                            
                        </div>
                    </div>
                    <div class="form-button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
                <div id="formError"></div>   
            </section>
            <section id="tripInfo">
                <div class="current-trip">
                    <div id="tripImage"></div>
                    <div id="destWeather"></div>
                </div>
                <div class="trip-data">
                    <h4>Weather Forecast</h4>
                    <div id="destForecast"></div>
                    <div class="trip-info">
                        <h4>Trip starts in</h4>
                        <p><span id="tripCount"></span> day/s</p>
                    </div>
                    <div class="trip-info">
                        <h4>Trip length is</h4>
                        <p><span id="tripLength"></span> day/s</p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>by NaNaFoNo 2021 - Udacity FEND Project</p>
        </footer>
        <!-- Service worker -->
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> 
    </body>
</html>
