body {
    font-size: 18px;
    margin: 0px;
    background-color:#c5beac;
}

main {
    background-image: url("/img/travel_plan.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 90vh;
}