body {
    // https://css-tricks.com/fun-viewport-units/
    // font grows 1px for every 100px of viewport width
    font-size: calc(16px + 1vw);
    // leading grows along with font,
    // with an additional 0.1em + 0.5px per 100px of the viewport
    line-height: calc(1.1em + 0.5vw); ;
    margin: 0px;
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

main {
    height: 80vh;
    
}

  @media (max-width: 900px) {
    main {
        height: auto;
        min-height: 80vh;
    }
  }