.current-trip {
  display: block;
  font-size: 0.9em;
  font-family: 'Special Elite', cursive;
  margin: 10px;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 9px 4px black;
          box-shadow: 0px 0px 9px 4px black;
  width: 640px;
  height: 450px;
  min-width: 360px;
}

.current-trip #tripImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
}

.current-trip #tripImage h4, .current-trip #tripImage p {
  text-align: center;
  opacity: 70%;
  width: 65%;
  position: relative;
  top: 10px;
  left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 8px 5px 5px 5px;
  color: whitesmoke;
  background-color: black;
  border-radius: 0.4rem;
}

.current-trip #destWeather {
  background-color: black;
  position: relative;
  height: 20%;
  border-radius: 0 0 0.4rem 0.4rem;
  opacity: 70%;
}

.current-trip #destWeather .weather-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.current-trip #destWeather img {
  height: 100%;
  padding-left: 10px;
}

.current-trip #destWeather div p {
  text-align: center;
  font-size: 0.8em;
  color: white;
  margin: 5px 0 0 0;
}

#tripInfo {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.trip-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8em;
  font-family: 'Special Elite', cursive;
  margin: 10px;
  height: 450px;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 9px 4px black;
          box-shadow: 0px 0px 9px 4px black;
  color: white;
  background-color: black;
  border-radius: 0.4rem 0.4rem 0 0;
  opacity: 80%;
  min-width: 400px;
}

.trip-data h4 {
  margin: 10px 0 0;
  text-align: center;
}

.trip-data #destForecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px white;
}

.trip-data #destForecast .weather-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trip-data #destForecast img {
  height: 80%;
  padding-left: 10px;
}

.trip-data #destForecast div p {
  text-align: center;
  font-size: 1em;
  margin: 0;
  color: white;
}

.trip-data .trip-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.trip-data .trip-info h4 {
  text-align: center;
  margin: 0;
}

.trip-data .trip-info p {
  text-align: center;
  margin: 0;
}

@media (max-width: 900px) {
  #tripInfo {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
  .current-trip {
    min-width: 340px;
    width: 90vw;
    height: 70vw;
  }
  .trip-data {
    min-width: 340px;
    width: 90vw;
    height: auto;
  }
}

@media (max-width: 600px) {
  .current-trip-weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .current-trip-weather p {
    padding-left: 20px;
  }
}
/*# sourceMappingURL=currenttrip.css.map */