.input {
    background-image: url("/img/travel_plan.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    font-size: 1.5em;
    font-family: 'Special Elite', cursive;
    #tripInfo {
        display: block;
        border: solid 1px white;
        margin: 10px;
        height: 90%;
        width: 100%;
        border-radius: 0.6rem;
        
        background-size: cover;
        background-repeat: no-repeat;
       

        #tripImage {
            margin: 0px;
            padding: 0px;
            display: block;
            height: 80%;
            width: 100%;
            border-radius: 0.6rem 0.6rem 0 0;
            background-size: cover;
            background-repeat: no-repeat;
            max-width: 800px;
            text-align: right;
            
            h4 {
                text-align: center;
                opacity: 70%;
                width: 65%;
                position: relative;
                top: 10px;
                left: 10px;
                margin: 0px;
                padding: 8px 5px 5px 5px;
                color: whitesmoke;
                text-shadow: black;
                background-color: black;
                border-radius: 0.4rem;
            }
        }
    }
    .form {
        border: solid 1px white;
        margin: 10px;
        #addTrip { 
            padding: 10px;
            border: dotted 1px white;

            label {
                color: white;
            }                
            input {
                font-size: 0.8em;
                background-color: white;
                border-radius: 0.4rem;
                text-align: center;
                width: 300px;
                color:#000000;
                margin-top: 5px;
                margin-bottom: 5px;
                height: auto;
                border-style: none;
                &::placeholder {
                    color: #3b3735;
                }
                &:focus {
                    box-shadow: 0.2rem 0.8rem 1.6rem;
                    border: none;
                }

            }        
            button {
                background-color:transparent;
                padding: 20px 20px;
                color:#ffffff;
                font-family: Arial, sans-serif;
                font-size:22px;
                margin:10px 0px;
                border-radius: 0.4rem;
                
            }    
        }        
    }
}