.trip-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1.5em;
    padding: 0 1em;
    font-family: 'Special Elite', cursive;
    font-size: 0.8em;

    .input-location, .input-dates {
        position: relative;
        display: flex;
        margin: 1em;
        .travel-start, .travel-end {
            position: relative;
        }
        input{
            //font-family: 'Special Elite';
            font-size: 0.8em;
            height: 1.5em;
            padding: 5px;
            border-radius: 15px;
            width: 26em;
        }
        input[type=date]{
            width: 12em;
        }

        label{
            color: azure;
            position: absolute;
            top: -1.5em;
            left: .2em;
        }
    }

    .input-dates{
        :first-child{
            margin-right: 1em;
        }
    }

    .form-button{
        display: flex;
        justify-content: center;
        margin: 1em;
        button {
            padding:  .3em .7em;
            text-decoration: none;
            font-size: 1em;
            margin: 4px 2px;
            cursor: pointer;
        }    
    }
}

#formError{
  display: flex;
  justify-content: center;
  font-family: 'Special Elite', cursive;
  color: red;  
  background-color: black;
  opacity: .5; 
  margin: 1em ;
  padding: .4em 1em .3em;
  border-radius: 15px;
}

.submit-btn{
    display: flex;
    justify-content: center;
  }

button {
    border-radius: 30px;
    color:#00ff38;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: .8;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding-right: 2rem;
      }
    .btn-icon{
        position: absolute;
        right: 0%;
        background-color: #00ff38;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: .4em;
      }
    .btn-load {
        @extend .btn-icon;
        position: absolute;
        right: 0%;
        display: none;
    }  
}
 
.loading {
    .btn-text {
        color: azure;
    }
    .btn-load {
        @extend .btn-icon;
        background-color: white;
        color: #00ff38;
        position: absolute;
        right: 0%;
        display: flex;
        z-index: 5;
        animation: spin 1s ease-in-out infinite;
    }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }