.user-form {
    display: block;
    font-size: 1.2em;
    font-family: 'Special Elite', cursive;
    // border: solid 1px white;
    padding: 15px;

    #formError {
        color:red;
    }

    #addTrip { 
        padding: 10px;
         // border: dotted 1px white;
        display: flex;
        justify-content: center;

        .input-location {
            margin-right: 20px;
        }

        .input-dates {
            display: flex;
            .travel-start, .travel-end {
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
            }
        }

        .form-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            button {
                background-color:black;
                opacity: 80%;
                padding: 5px 20px;
                color:#ffffff;
                font-family: Arial, sans-serif;
                font-size:20px;
                margin:0px 25px;
                border-radius: 0.4rem;
                
                &:hover {
                    background-color: white;
                    color: black;
                }
            }     
        }
    }        
    
}

label {
    color: white;
}

input {
    font-size: 18px;
    background-color: white;
    border-radius: 0.4rem;
    text-align: center;
    width: auto;
    
    color:#000000;
    margin: 5px;
    
    height: min-content;
    border-style: none;

    &:hover {
        box-shadow: 0.2rem 0.8rem 1.6rem;            
    }

    &::placeholder {
        color: #3b3735;
    }
    &:focus {
        box-shadow: 0.2rem 0.8rem 1.6rem;
        border: none;
    }
}