header {
    display: block;    

    .title {
        color: azure;
        font-family: 'Cinzel', serif;
        padding: 25px;
        font-size: 1.8em;
        line-height: 1.2em;
        text-align: start;
    }
}